{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "quotes": [2, "single"],
    "no-unused-vars": 0
  }
}
