:root {
  --max-width: 980px;
}

html {
  font-size: 62.5%;
  -webkit-text-size-adjust: 100%;
}

body {
  color: #24292e;
  background-color: #fff;
  font-size: 1.4rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  line-height: 1.5;
  margin-right: 20px;
  margin-left: 20px;
}

p {
  margin: 0 0 2rem;
}

a {
  color: #00aced;
}

a:hover {
  color: #08bbff;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sup {
  top: -.5em
}

sub {
  bottom: -.25em
}

[disabled] {
  opacity: .5;
  pointer-events: none;
}

.icon--book {
  font-size: 1.6rem;
  vertical-align: text-bottom;
  fill: currentColor;
}

.main,
.footer {
  max-width: var(--max-width);
  margin: 0 auto;
}

.main {
  background-color: #fff;
}

.main__title {
  font-size: 3.6rem;
  line-height: 1;
  margin-bottom: 4.5rem;
  margin-top: 0;
  padding-top: 3rem;
}

.main__sub-title {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 1em;
  vertical-align: text-top;
  white-space: nowrap;
}

.main__sub-title .icon--markGithub {
  font-size: 1.4rem;
}

.icon--markGithub {
  margin-bottom: -.1em;
}

.footer {
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
  margin-bottom: 3rem;
}

.author {
  margin-left: 1em;
  flex-grow: 1;
  color: #24292e;
}

.authorLink {
  color: #24292e;
  text-decoration: underline;
}

.authorIcon {
  margin-bottom: -.1em;
  margin-right: .3em;
  margin-left: .3em;
}

.authorLink:hover {
  transition: color .1s linear;
}

.footer .octicon-mark-github {
  font-size: 1.4rem;
}

.footer .octicon-person {
  font-size: 1.2rem;
}

.form__input--text {
  border: none;
  text-align: center;
  width: 1.5em;
}

.form__input--no-spinners::-webkit-inner-spin-button, .form__input--no-spinners::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form__checkbox {
  margin-right: .5em;
}

.btn {
  cursor: pointer;
}

.btn--text {
  background-color: transparent;
  border: none;
  padding: 0 .25em;
}

.btn--text:focus {
  outline: none;
}

.btn-up, .btn-down {
  color: #707070;
  position: relative;
  top: 1px;
}

.btn-up .icon,
.btn-down .icon {
  pointer-events: none;
}

.btn-up:active {
  top: 0px;
}

.btn-down:active {
  top: 2px;
}

.btn-copy {
  background-color: #3A87D3;
  border-radius: 3px;
  color: #fff;
  font-size: 1.2rem;
  margin-left: 1rem;
  min-width: 7.5rem;
  padding: .25em .75em;
  position: absolute;
  top: 1.4rem;
  right: 1.4rem;
  transition: background-color .1s linear;
}

.btn-copy .icon {
  margin-right: .4rem;
  font-size: 1.2em;
  margin-bottom: -0.2em;
  fill: #fff;
}

.btn-copy.zeroclipboard-is-hover {
  background-color: #4f94d8;
}

.btn-copy.zeroclipboard-is-active {
  transform: scale(0.9);
}

.btn[disabled] {
  color: #c9c9c9;
}

.icon--copy {
  fill: #fff;
  margin-right: .3em;
  margin-bottom: -.1em;
}

.browsers__wrap {
  margin: 0 auto 3rem;
}

.browser {
  float: left;
  margin: 0 2rem 3rem;
  padding: .25em 1em .25em 2rem;
}

.browser[disabled] {
  opacity: 1;
  pointer-events: auto;
}

.browser[disabled] .browser__heading {
  opacity: .5;
  transition: opacity .1s linear;
}

.browser[disabled] .browser__heading:hover {
  opacity: 1;
}

.browser[disabled] .browser__control {
  opacity: .5;
  pointer-events: none;
}

.browser[disabled] .browser__control--ie {
  opacity: 1;
  pointer-events: auto;
}

.browser[disabled] .browser__control--ie .browser__control-ie-version {
  opacity: .5;
  transition: opacity .1s linear;
}

.browser[disabled] .browser__control--ie .browser__control-ie-version:hover {
  opacity: 1;
}

.browser__wrap {
  user-select: none;
  position: relative;
}

.browser__wrap::after {
  clear: both;
  content: '';
  display: table;
}

.browser__heading {
  font-weight: 600;
}

.browser__heading:hover .browser__checkbox:checked + .browser__checkbox-label .browser__checkbox-icon {
  transform: scale(1.2);
}

.browser__heading:hover .browser__checkbox-label .browser__checkbox-icon {
  transform: scale(1.1);
}

.browser__control {
  font-size: .8em;
  white-space: nowrap;
}

.browser__checkbox {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.browser__checkbox:checked + .browser__checkbox-label .icon--check {
  display: block;
}

.browser__checkbox:checked + .browser__checkbox-label .icon--cross {
  display: none;
}

.browser__checkbox-label {
  cursor: pointer;
  display: block;
  position: relative;
  white-space: nowrap;
}

.browser__checkbox-icon {
  position: absolute;
  right: 100%;
  margin-right: 1rem;
  transition: transform .1s linear;
}

.icon--check {
  display: none;
  fill: #60B13C;
  top: .2rem;
}

.icon--cross {
  display: block;
  top: .3rem;
  fill: #F0624D;
}

.browser__checkbox-label--small .browser__checkbox-icon {
  font-size: 1em;
}

.markdown {
  font-weight: 400;
}

.markdown-body__wrap {
  position: relative;
}

.markdown-body {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  font-size: 1.6rem;
  margin-bottom: 4.5rem;
  padding: 4.5rem 4.5rem 3rem;
}

.markdown-body__title {
  display: block;
  padding: 0.9rem 1rem 1rem;
  margin: 0;
  font-size: 1.4rem;
  line-height: 1.7rem;
  background-color: #f6f8fa;
  border: 1px solid rgba(27,31,35,0.15);
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  font-weight: 600;
}

.markdown-body h2 {
  margin-top: 0;
}

.markdown-code {
  font-size: 1.2rem;
  padding-right: 8rem;
  background-color: transparent;
  border: none;
  min-height: 11rem;
  width: 100%;
  resize: vertical;
  max-height: 40rem;
  color: #636363;
}

.markdown-code:focus {
  outline: none;
}

.markdown-code__wrap {
  background-color: #f6f8fa;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 1em;
  position: relative;
}

.tip {
  text-align: right;
  margin-top: 3rem;
  font-size: 1.2rem;
  color: #6a6a6a;
}

.pointer {
  color: #aaa;
  font-size: 7rem;
  user-select: none;
  cursor: default;
  position: absolute;
  bottom: -1.15em;
  right: 1em;
  transform: rotate(30deg);
  z-index: 1;
  font-family: Arial, sans-serif;
}

.pointer--inverse {
  transform: rotate(110deg);
  right: 1.4em;
  bottom: -1.1em;
}

.social-box {}

.social-box__item {
  display: table-cell;
  padding-right: 1rem;
  vertical-align: top;
}

.social-box__item--gh iframe {
  width: 74px;
}
