//
//  Variables
//  ---------------------------------------------

$octicons-font-path: "../../fonts/octicons";

$color--white: #fff;
$color--white-smoke: #f5f5f5;
$color--gray-d: #ddd;
$color--gray-d8: #d8d8d8;
$color--gray-light: #c9c9c9;
$color--gray-so: #aaa;
$color--gray: #535353;
$color--green: #60B13C;
$color--blue: #00aced;
$color--deep-blue: #3A87D3;
$color--red: #F0624D;

$color--disabled: $color--gray-light;

$background-color: $color--white;
$color: #636363;
$line-height: 1.5;
$font-family: 'Open Sans', sans-serif;
$font-family--gfm: Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif;
$font-size: 1.4rem;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semibold: 600;
$font-weight--bold: 700;

$indent--xsmall: 1rem;
$indent--small: 1.5rem;
$indent: 2rem;
$indent--large: 2.5rem;

$break--M: 768px;
$screen--M: $break--M + 1;

//
//  Imports
//  ---------------------------------------------

@import '_gfm.scss';
@import 'octicons';

//
//  Extends
//  ---------------------------------------------

%clearfix {
    &:after {
        clear: both;
        content: '';
        display: table;
    }
}

//
//  Reset
//  ---------------------------------------------

//  Change box-sizing model

* {
    box-sizing: inherit;
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html {
    box-sizing: border-box;
}

//
//  Typography
//  ---------------------------------------------

html {
    font-size: 62.5%;
}

body {
    color: $color;
    background-color: $background-color;
    font-size: $font-size;
    font-family: $font-family;
    font-weight: $font-weight--regular;
    line-height: $line-height;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: $font-weight--light;
}

p {
    margin: 0 0 $indent;
}

a {
    color: $color--blue;
    &:hover {
        color: lighten($color--blue, 5%);
    }
}

[disabled] {
    opacity: .5;
    pointer-events: none;
}

//
//  Content
//  ---------------------------------------------

.main,
.footer {
    max-width: 790px;
    margin: 0 auto;
    padding-right: 2rem;
    padding-left: 2rem;
}

.main {
    background-color: #fff;
    padding-top: 3rem;
    padding-bottom: 1rem;
    &__title {
        font-size: 3.6rem;
        line-height: 1.2;
        margin-bottom: 4rem;
        margin-top: 0;
    }
    &__sub-title {
        display: block;
        text-align: right;
        font-size: 1.2rem;
        font-weight: $font-weight--regular;
        .octicon-mark-github {
            font-size: 1.4rem;
        }
    }
}

.footer {
    font-size: 1.1rem;
    padding-bottom: 2rem;
    text-align: right;
    &__link {
        color: $color;
        &:hover {
            color: $color--blue;
            transition: color .1s linear;
        }
    }
    .octicon-mark-github {
        font-size: 1.4rem;
    }
    .octicon-person {
        font-size: 1.2rem;
    }
}

.form {
    &__input {
        &--text {
            border: none;
            text-align: center;
            width: 1.5em;
        }
        &--no-spinners {
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }
    &__checkbox {
        margin-right: .5em;
    }
}

.btn {
    &--text {
        background-color: transparent;
        border: none;
        padding: 0 .25em;
        &:focus {
            outline: none;
        }
    }
    &-up,
    &-down {
        @extend .octicon;
        color: lighten($color, 5%);
        position: relative;
        top: 1px;
    }
    &-up {
        @extend .octicon-chevron-up;
        &:active {
            top: 0px;
        }
    }
    &-down {
        @extend .octicon-chevron-down;
        &:active {
            top: 2px;
        }
    }
    &-copy {
        background-color: $color--deep-blue;
        border-radius: 3px;
        color: $color--white;
        font-size: 1.2rem;
        margin-left: 1rem;
        min-width: 7.5rem;
        padding: .25em .75em;
        position: absolute;
        top: 1.4rem;
        right: 1.4rem;
        transition: background-color .1s linear;
        &.btn-copy--done {
            &:before {
                @extend .octicon-check;
            }
        }
        &:before {
            @extend .octicon;
            @extend .octicon-clippy;
            margin-right: .4rem;
            font-size: 1.2em;
        }
        &.zeroclipboard-is-hover {
            background-color: lighten($color--deep-blue, 5%);
        }
        &.zeroclipboard-is-active {
            transform: scale(.9);
        }
    }
    &[disabled] {
        color: $color--disabled;
    }
}

.browsers {
    &__wrap {
        margin: 0 auto 2rem;
    }
}

.browser {
    float: left;
    margin: 0 2rem 3rem;
    padding: .25em 1em .25em 2rem;
    &[disabled] {
        opacity: 1;
        pointer-events: auto;
        .browser {
            &__heading {
                opacity: .5;
                transition: opacity .1s linear;
                &:hover {
                    opacity: 1;
                }
            }
            &__control {
                opacity: .5;
                pointer-events: none;
                &--ie {
                    opacity: 1;
                    pointer-events: auto;
                    .browser__control-ie-version {
                        opacity: .5;
                        transition: opacity .1s linear;
                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
 /*   &:first-child,
    &:nth-child(6) {
        &:before {
            position: absolute;
            border-bottom: 1px solid $color--white-smoke;
            width: 100%;
            left: 0;
            font-size: 1rem;
            margin-top: -3rem;
            color: $color--gray-light;
        }
    }
    &:first-child {
        &:before {
            content: 'desktop';
        }
    }
    &:nth-child(6) {
        clear: left;
        &:before {
            content: 'mobile';
        }
    } */
    &__wrap {
        @extend %clearfix;
        user-select: none;
        position: relative;
    }
    &__heading {
        font-weight: $font-weight--semibold;
        &:hover {
            .browser__checkbox {
                &:checked {
                    + .browser__checkbox-label {
                        &:before {
                            transform: scale(1.2);
                        }
                    }
                }
            }
            .browser__checkbox-label {
                &:before {
                    transform: scale(1.1);
                }
            }
        }
    }
    &__control {
        font-size: .8em;
        white-space: nowrap;
    }
    &__control-ie-version {
        //float: left;
    }
    &__checkbox {
        position: absolute;
        clip: rect(0,0,0,0);
        &:checked {
            + .browser__checkbox-label {
                &:before {
                    @extend .octicon-check;
                    color: $color--green;
                    top: .2rem;
                }
            }
        }
    }
    &__checkbox-label {
        @extend .octicon-x;
        cursor: pointer;
        display: block;
        position: relative;
        white-space: nowrap;
        &:before {
            @extend .octicon;
            position: absolute;
            top: .3rem;
            right: 100%;
            margin-right: 1rem;
            color: $color--red;
            transition: transform .1s linear;
        }
        &--small {
            &:before {
                font-size: 1em;
            }
        }
    }
}

.markdown-body {
    background-color: $color--white;
    border: 1px solid $color--gray-d;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    font-size: 1.4rem;
    font-family: $font-family--gfm;
    margin-bottom: 3rem;
    padding: 3rem;
    word-wrap: break-word;
    &__wrap {
        position: relative;
    }
    &__title {
        background-color: $color--white-smoke;
        margin: 0;
        border-radius: 3px 3px 0 0;
        border: 1px solid $color--gray-d8;
        border-bottom: 0;
        padding: .9rem 1rem 1rem;
        font-size: 1em;
        font-family: $font-family--gfm;
        font-weight: $font-weight--bold;
        line-height: 1.2;
        display: block;
    }
}

.markdown-code {
    &__wrap {
        background-color: $color--white-smoke;
        border: 1px solid $color--gray-d;
        border-radius: 3px;
        padding: 1em;
        position: relative;
    }
}

.markdown-code {
    font-size: 1.2rem;
    padding-right: 8rem;
    background-color: transparent;
    border: none;
    min-height: 11rem;
    width: 100%;
    &:focus {
        outline: none;
    }
}

.pointer {
    color: $color--gray-so;
    font-size: 7rem;
    user-select: none;
    cursor: default;
    position: absolute;
    bottom: -1.15em;
    right: 1em;
    transform: rotate(30deg);
    z-index: 1;
    &--inverse {
        transform: rotate(110deg);
        right: 1.4em;
        bottom: -1.1em;
    }
}
